@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

html,body {
  font-family: "Noto Sans Japanese", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 16px;
  line-height: 1.65em;
}

header #sitelogo > p::after {
  content: "世界中の感動を世界中の人々に";
  font-family: "Noto Sans Japanese", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

#slider span {
  font-family: "Sawarabi Gothic";
}

#lng_cng > a,
header nav > ul > li:last-child > a {
  font-family: georgia,'times new roman',serif;
}

@media only screen and (min-width: 768px) {
  #slider ul > li > div {
    background: rgba(0,0,0,0.3);
    font-size: 1.0em;
    width: 100%;
  }
}

/* //ラパンstylesheet */